
<center>Whimsical Reminders</center>

<img src= "http://pets-wiki.com/_pu/0/73526523.jpg" >


<p><%= link_to 'Groups:', groups_path %> <%= Group.count %> registered</p>


Created By: Kathy Jang, Sydney McMuldroch, Vincent Min Tseng, and Martha Morrissey 
</div>
